* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 400;
}

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden
}

body {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: bold;
}

body ::-webkit-input-placeholder {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: 500;
}

h1 {
    font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
    font-size: 350%;
    font-style: normal;
    font-variant: normal;
    text-align: center;
    margin-top: 100px;
}

#h1_bg_wrapper {
    background: -webkit-linear-gradient(top left, rgba(255, 255, 255, 0.10), rgba(0, 0, 0, 0.4) 40%);
}

h3 {
    font-weight: 500;
}

form {
    padding: 20px 0;
    position: relative;
    z-index: 2;

}

form input[type="text"] {
    color: rgba(245, 245, 245, 0.8);
    -webkit-border-radius: 10px;
}

form input[type="password"] {
    color: rgba(245, 245, 245, 0.8);
    -webkit-border-radius: 10px;
}

form input {
    outline: 0;
    border: 3px solid white;
    width: 250px;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: rgba(62, 61, 65, 0.81);
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    font-weight: 500;
}


/* bg video */
.homepage-video-module {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.no-video .video-container video,
.touch .video-container video {
    display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}

.video-container {
    position: relative;
    height: 100%;
    width: 100%;
    background: #000;
}

.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}

.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}

.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}

.video-container video.fillWidth {
    width: auto;
    height: 100%;
    position: absolute;
}

.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container {
    font-family: 'Source Sans Pro', sans-serif;
    margin: auto;
    padding: 20px;
    height: auto;
    text-align: center;
}


/* login/register forms */
#login_email {
    background-color: rgba(0, 0, 0, 0.61);
}

#login_password {
    background-color: rgba(0, 0, 0, 0.61);
}

#login_email:hover {
    background-color: rgba(180, 180, 180, 0.6);
}

#login_password:hover {
    background-color: rgba(180, 180, 180, 0.6);
}

#register_name {
    background-color: rgba(0, 0, 0, 0.61);
}

#register_email {
    background-color: rgba(0, 0, 0, 0.61);
}

#register_password {
    background-color: rgba(0, 0, 0, 0.61);
}


#register_name:hover {
    background-color: rgba(180, 180, 180, 0.6);
}

#register_email:hover {
    background-color: rgba(180, 180, 180, 0.6);
}

#register_password:hover {
    background-color: rgba(180, 180, 180, 0.6);
}


#sign_up_button:hover {
    background-color: rgba(0, 0, 0, 0.61);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .75);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .75);
    box-shadow: 0 0 4px rgba(255, 255, 255, .75);
    color: white;
}

form input:focus {
    width: 300px;
    color: rgba(0, 0, 0, 0.65);
    -webkit-border-radius: 10px;
}

form button {
    margin: 0 auto 10px auto;
    outline: 0;
    background-color: rgba(255, 255, 255, 0.85);
    border: 0;
    padding: 10px 15px;
    color: rgba(62, 61, 65, 0.91);
    width: 250px;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    display: block;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

form button:hover {
    background-color: rgba(0, 0, 0, 0.61);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .75);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .75);
    box-shadow: 0 0 4px rgba(0, 0, 0, .75);
    color: white;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.61);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .75);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .75);
    box-shadow: 0 0 4px rgba(0, 0, 0, .75);
    color: white;
}

#register-button {
    margin-top: 50px;
}

a.btn {
    text-decoration: none;
    outline: 0;
    background-color: rgba(255, 255, 255, 0.85);
    border: 0;
    padding: 10px 15px;
    color: rgba(62, 61, 65, 0.91);
    width: 250px;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -webkit-appearance: button;
    -moz-appearance: button;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}


/* register popup */
.popupContainer {
    width: 70%;
    height: 75%;
    background: rgba(0, 0, 0, 0.85);
}

.popupHeader {
    font-family: 'Brush Script MT', cursive;
    font-style: normal;
    font-variant: normal;
    line-height: 26px;
    font-size: 25px;
}

.popupHeader {
    position: relative;
    padding: 10px 20px;
    border-bottom: 1px solid #DDD;
    font-weight: bold;
}

.popupHeader .modal_close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 15px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.86);
    font-size: 16px;
}

.modal_close:hover {
    -webkit-filter: drop-shadow(0px 0px 5px rgba(197, 11, 25, 0.9)) brightness(300%);
    color: rgba(217, 31, 45, 0.5);
}

#modal_close {
    font-size: 25px;
}

.popupBody {
    padding: 60px;
}

.header_title {
    color: rgba(255, 255, 255, 0.86);
    font-weight: bold;
}


/* close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#twitter-login-button:hover {
    border-color: rgba(0, 180, 1224, 0.7);
    background-color: rgba(0, 180, 224, 0.7);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .75);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .75);
    box-shadow: 0 0 4px rgba(0, 0, 0, .75);
    color: #f3f3f3;
    font-size: 1.1em;
    -moz-border-radius: 45px;
    border-radius: 45px;
}

#facebook-login-button:hover {
    border-color: rgba(37, 92, 149, 0.7);
    background-color: rgba(37, 92, 149, 0.7);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .75);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .75);
    box-shadow: 0 0 4px rgba(0, 0, 0, .75);
    color: #f3f3f3;
    font-size: 1.1em;
    -moz-border-radius: 45px;
    border-radius: 45px;
}

#google-login-button:hover {
    border-color: rgba(241, 64, 58, 0.7);
    background-color: rgba(241, 64, 58, 0.7);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .75);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .75);
    box-shadow: 0 0 4px rgba(0, 0, 0, .75);
    color: #f3f3f3;
    font-size: 1.1em;
    -moz-border-radius: 45px;
    border-radius: 45px;
}

#twitter-login-button {
    width: 6.5%;
    height: 6.5%;
}

#facebook-login-button {
    width: 6.5%;
    height: 6.5%;
}

#google-login-button {
    width: 6.5%;
    height: 6.5%;
}

#sign_via_social {

    font-family: 'Brush Script MT', cursive;
    font-style: normal;
    font-variant: normal;
    line-height: 26px;
    margin-top: 100px;
    font-size: 30px;
    font-weight: bolder;
}