body {
    background-color: rgba(69, 69, 69, 0.9);
}

.white_bg {
    background-color: white;
    width: 100%;
    height: 100%;
}

#headline {
    font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
    font-style: normal;
    font-variant: normal;
    text-align: center;
    -webkit-filter: drop-shadow(5px 5px 5px rgba(255,255,255,.8)) brightness(200%);
}


/* movie list popup */
.modal .modal-wide .modal-dialog {
    width: 80%;
}

input {
    outline: none;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 4px;
    color: rgba(245, 245, 245, 1.0);
    font-weight: bold;
    background-color: rgba(245, 245, 245, 0.3);
}

.modal-wide .modal-body {
    overflow-y: auto;
}

.movie_list {
    list-style: none;
    background-color: rgba(104, 104, 110, 0.8);
    -webkit-border-radius: 3px;
    color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    height: 0;
    line-height: 2em;
    margin: 0;
    padding: 0 0.5em;
    overflow: hidden;
    width: 15em;
}

.movie_list:hover {
    background-color: rgba(114, 114, 120, 1.0);
    color: rgba(245, 245, 245, 1.0);
    filter: brightness(150%);
    cursor: pointer;
}

li.movie_list {
    height: 2em;
    margin: 2px 0;
}

.fade_list li {
    transition: all 0.4s ease-out;
    opacity: 0;
    height: 2em;
}
.fade_list li.movie_list {
    opacity: 1;
}

.right_modal_body_side {
    text-align: center;
}

#new_list_btn:hover {
    background-color: rgba(245, 245, 245, 0.8);
    color: rgba(0, 0, 0, 0.8);
    filter: brightness(150%);
}

#new_list_btn {
    text-align: left;
}

#close_btn:hover{
    background-color: rgba(217, 31, 45, 0.7);
    color: rgba(0, 0, 0, 0.8);
    filter: brightness(150%);
}

.popup_content {
    background: rgba(0, 0, 0, 0.7);
    position: relative;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    outline: 0;
}

#popup_title {
    margin-bottom: 10px;
    text-decoration: underline;
}

#popup_headline {
    margin-top: 50px;
}

.modal_footer {
    padding: 15px;
    border-top: 2px solid rgba(255, 255, 255, 0.2);
}

.modal_header {
    min-height: 16.42857143px;
    padding: 15px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.modal-title {
    color: rgba(255, 255, 255, 0.86);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

#outer {
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

#div_1 {
    width: 50%;
    float: left;
    text-align:center;
}

#div_2 {
    width: 50%;
    float: right;
    text-align:center;
}


/* navigation-bar */
.headline {
    /* background: -webkit-linear-gradient(top left, rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.8) 80%); */
    color:#fff;
    height:80px;
    text-align: center;
}

.headline_filter {
    height:80px;
    background: rgba(0, 0, 0, 0.8);
}

#profile-logo-img {
    width: 30px;
    height: 30px;
}

#profile-logo-img:hover {
    content: url('../img/buttons/profile-logo-hover.png');
    width: 30px;
    height: 30px;
    -webkit-filter: drop-shadow(0px 5px 5px rgba(255, 255, 255, 1.0)) brightness(200%);
}

.navbar{
    border-width:0px;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}

.navbar li{
    display:inline;
}

.navbar a{
    text-decoration: none;
    display:inline-block;
    padding:10px;
    color: rgba(255, 255, 255, 0.70);
}

.navbar-inverse {
    z-index: 100;
}

a:hover{
    font-weight: bold;
    cursor:pointer;
    color: rgba(255, 255, 255, 1.0);
}

#movie_list_nav_bar_add_btn_img {
    width: 30px;
    height: 30px;
    -webkit-animation: pulsate 1.3s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: .5
}

#movie_list_nav_bar_add_btn {
    visibility: hidden;
}

#movie_list_nav_bar_add_btn_img:hover {
    width: 30px;
    height: 30px;
    -webkit-animation: none;
    -webkit-filter: drop-shadow(0px 5px 5px rgba(255, 255, 255, 1.0)) brightness(200%);
    opacity: 1;
}

@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

#drama-nav-button:hover, #action-nav-button:hover, #comedy-nav-button:hover, #romance-nav-button:hover, #logout-nav-button:hover{
    -webkit-filter: drop-shadow(0px 5px 5px rgba(255, 255, 255, 1.0)) brightness(200%);
}

.float_left {
    font-size: 20px;
    margin-left: 20px;
    float:left;
}

.float_right {
    margin-right: 20px;
    float:right;
}


/* main-content */
.main {
    height:1000px;
}

.btn-custom {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    color: rgba(245, 245, 245, 1.0);
    font-weight: bold;
    background-color: rgba(245, 245, 245, 0.3);
}

#cover_check_button_top {
    visibility: hidden;
    filter: brightness(150%);
    width: 90px;
    height: 90px;
}

#cover_add_button_top {
    visibility: visible;
    width: 90px;
    height: 90px;
    opacity: 0;
}

#cover_cancel_button_top {
    visibility: hidden;
    filter: brightness(150%);
    width: 90px;
    height: 90px;
}

#cover_upvote_button_top {
    visibility: visible;
    width: 60px;
    height: 60px;
    opacity: 0;
}

#cover_downvote_button_top {
    visibility: visible;
    width: 60px;
    height: 60px;
    opacity: 0;
}

#cover_add_button_top:hover {
    content: url('../img/buttons/add_icon.png');
    width: 90px;
    height: 90px;
    -webkit-filter: drop-shadow(0px 0px 50px rgba(255,255,255,1.0)) brightness(200%);
}

#cover_upvote_button_top:hover {
    content: url('../img/buttons/like_icon.png');
    width: 75px;
    height: 75px;
    -webkit-filter: drop-shadow(0px 0px 50px rgba(255,255,255,1.0)) brightness(200%);
}

#cover_downvote_button_top:hover {
    content: url('../img/buttons/dislike_icon.png');
    width: 75px;
    height: 75px;
    -webkit-filter: drop-shadow(0px 0px 50px rgba(255,255,255,1.0)) brightness(200%);
}

#cover_check_button {
    visibility: hidden;
    filter: brightness(150%);
    width: 55px;
    height: 55px;
}

#cover_add_button {
    visibility: visible;
    width: 55px;
    height: 55px;
    opacity: 0;
}

#cover_cancel_button {
    visibility: hidden;
    filter: brightness(150%);
    width: 55px;
    height: 55px;
}

#cover_upvote_button {
    visibility: visible;
    width: 30px;
    height: 30px;
    opacity: 0;
}

#cover_downvote_button {
    visibility: visible;
    width: 30px;
    height: 30px;
    opacity: 0;
}

#cover_add_button:hover {
    content: url('../img/buttons/add_icon.png');
    width: 55px;
    height: 55px;
    -webkit-filter: drop-shadow(0px 0px 50px rgba(255,255,255,1.0)) brightness(200%);
}

#cover_upvote_button:hover {
    content: url('../img/buttons/like_icon.png');
    width: 40px;
    height: 40px;
    -webkit-filter: drop-shadow(0px 0px 50px rgba(255,255,255,1.0)) brightness(200%);
}

#cover_downvote_button:hover {
    content: url('../img/buttons/dislike_icon.png');
    width: 40px;
    height: 40px;
    -webkit-filter: drop-shadow(0px 0px 50px rgba(255,255,255,1.0)) brightness(200%);
}


.cover_add_button_top {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 30%;
    right: 0;
    display: block;
    margin: auto;
}

.cover_upvote_button_top {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 25px;
    margin-top: 10px;
}

.cover_downvote_button_top {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 25px;
    margin-top: 10px;
}

.cover_add_button {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 50%;
    right: 0;
    display: block;
    margin: auto;
}

.cover_upvote_button {
    position: absolute;
    top: 2%;
    right: 0;
    margin-right: 5px;
    margin-top: 5px;
}

.cover_downvote_button {
    position: absolute;
    top: 2%;
    left: 0;
    margin-left: 5px;
    margin-top: 5px;
}

.crop {
    width: 100%;
    height: 280px;
    overflow: hidden;
}

.crop img {
    margin-top: 10px;
}

.movie_cover_div_top:hover {
    padding: 2%;
}

.movie_cover_div {
    position: relative;
    background-position: center;
    background-size: cover;
}

.movie_cover_div:hover {
    position:relative;
    display: block;
    padding: 6%;
}

.add_button {
    position: relative;
    width: 85%;
    overflow: hidden;
    clear: left;
    background-color: grey;
    text-align: center;
    font-size: 38px;
    color: white;
    visibility: hidden;
    opacity: 0.8;
}



.dislike_icon {
    position: absolute;
    width: 250px;
    background-color: grey;
    display: inline-block;
    text-align: center;
    font-size: 38px;
    color: white;
    visibility: hidden;
    opacity: 0.8;
}

.like_icon {
    position: absolute;
    width: 250px;
    background-color: grey;
    display: inline-block;
    text-align: center;
    font-size: 38px;
    color: white;
    visibility: hidden;
    opacity: 0.8;
}

#like_icon:hover {
    content: url('../img/buttons/like_icon.png');
    width: 30px;
    height: 30px;
}

.dislike_icon:hover {
    content: url('../img/buttons/dislike_icon.png');
    width: 30px;
    height: 30px;
}

.container{
    width:100%;
    padding-left:15px;
    padding-right:15px;
}

.bloc{
    width:100%;
    clear:both;
    background: 50% 50% no-repeat;
    padding:0 50px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.bloc .container{
    padding-left:0;
    padding-right:0;
}

.bloc-lg{
    padding:95px 50px;
}


/* Row Margin Offsets */
.row_spacing{
    margin-top: 15px;
}


/* custom bloc styling */
#bloc-1{
    background-color: rgba(139, 139, 146, 0.81);
}

.bloc-1-filter {
    background: rgba(0, 0, 0, 0.8);
}

#cover_add_button {
    visibility: visible;
    opacity: 0;
}

#bloc-2 {
    overflow-y: hidden;
    background-color: rgba(22, 22, 22, 0.8);
}

.bloc-2-filter {
    overflow-y: hidden;
    background: rgba(0, 0, 0, 0.5);
}


/* backgrounds */
.bg-nyc-overlay {
    background-image: url('../src/NYC-Traffic/NYC-Traffic.jpg');
}


/* hide all scrollbars */
::-webkit-scrollbar {
    display: none;
}

#filter_image {
    width: 30px;
    height: 30px;
}

#filter_icon:hover {
    cursor: default;
}

.img-responsive:hover {
    cursor: pointer;
}

.outer_bloc {
    text-align: center;
    background-color: rgba(69, 69, 69, 0.9);
}

.inner_block {
    display: inline-block;
}


/* loading animation */
#fountainTextG{
    height: 30px;
    color: rgba(255, 255, 255, 0.5);
}

.fountainTextG{
    float: left;
    color:rgb(0,0,0);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:24px;
    text-decoration:none;
    font-weight:bold;
    font-style:normal;
    animation-name:bounce_fountainTextG;
    -o-animation-name:bounce_fountainTextG;
    -webkit-animation-name:bounce_fountainTextG;
    -moz-animation-name:bounce_fountainTextG;
    animation-duration:2.09s;
    -o-animation-duration:2.09s;
    -webkit-animation-duration:2.09s;
    -moz-animation-duration:2.09s;
    animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    animation-direction:normal;
    -o-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
    transform:scale(.5);
    -o-transform:scale(.5);
    -ms-transform:scale(.5);
    -webkit-transform:scale(.5);
    -moz-transform:scale(.5);
}#fountainTextG_1{
     animation-delay:0.75s;
     -o-animation-delay:0.75s;
     -webkit-animation-delay:0.75s;
     -moz-animation-delay:0.75s;
 }
#fountainTextG_2{
    animation-delay:0.9s;
    -o-animation-delay:0.9s;
    -webkit-animation-delay:0.9s;
    -moz-animation-delay:0.9s;
}
#fountainTextG_3{
    animation-delay:1.05s;
    -o-animation-delay:1.05s;
    -webkit-animation-delay:1.05s;
    -moz-animation-delay:1.05s;
}
#fountainTextG_4{
    animation-delay:1.2s;
    -o-animation-delay:1.2s;
    -webkit-animation-delay:1.2s;
    -moz-animation-delay:1.2s;
}
#fountainTextG_5{
    animation-delay:1.35s;
    -o-animation-delay:1.35s;
    -webkit-animation-delay:1.35s;
    -moz-animation-delay:1.35s;
}
#fountainTextG_6{
    animation-delay:1.5s;
    -o-animation-delay:1.5s;
    -webkit-animation-delay:1.5s;
    -moz-animation-delay:1.5s;
}
#fountainTextG_7{
    animation-delay:1.64s;
    -o-animation-delay:1.64s;
    -webkit-animation-delay:1.64s;
    -moz-animation-delay:1.64s;
}
#fountainTextG_8{
    animation-delay:1.79s;
    -o-animation-delay:1.79s;
    -webkit-animation-delay:1.79s;
    -moz-animation-delay:1.79s;
}
#fountainTextG_9{
    animation-delay:1.94s;
    -o-animation-delay:1.94s;
    -webkit-animation-delay:1.94s;
    -moz-animation-delay:1.94s;
}
#fountainTextG_10{
    animation-delay:2.09s;
    -o-animation-delay:2.09s;
    -webkit-animation-delay:2.09s;
    -moz-animation-delay:2.09s;
}

@keyframes bounce_fountainTextG{
    0%{
        transform:scale(1);
        color:rgb(0,0,0);
    }

    100%{
        transform:scale(.5);
        color:rgb(255,255,255);
    }
}

@-o-keyframes bounce_fountainTextG{
    0%{
        -o-transform:scale(1);
        color:rgb(0,0,0);
    }

    100%{
        -o-transform:scale(.5);
        color:rgb(255,255,255);
    }
}

@-ms-keyframes bounce_fountainTextG{
    0%{
        -ms-transform:scale(1);
        color:rgb(0,0,0);
    }

    100%{
        -ms-transform:scale(.5);
        color:rgb(255,255,255);
    }
}

@-webkit-keyframes bounce_fountainTextG{
    0%{
        -webkit-transform:scale(1);
        color:rgb(0,0,0);
    }

    100%{
        -webkit-transform:scale(.5);
        color:rgb(255,255,255);
    }
}

@-moz-keyframes bounce_fountainTextG{
    0%{
        -moz-transform:scale(1);
        color:rgb(0,0,0);
    }

    100%{
        -moz-transform:scale(.5);
        color:rgb(255,255,255);
    }
}