/* top covers */
.movie_cover_div_top:hover {
    padding: 2%;
}

#cover_check_button_top {
    visibility: hidden;
    filter: brightness(150%);
    width: 90px;
    height: 90px;
}

#cover_add_button_top {
    visibility: visible;
    width: 90px;
    height: 90px;
    opacity: 0;
}

#cover_cancel_button_top {
    visibility: hidden;
    filter: brightness(150%);
    width: 90px;
    height: 90px;
}

#cover_upvote_button_top {
    visibility: visible;
    width: 60px;
    height: 60px;
    opacity: 0;
}

#cover_downvote_button_top {
    visibility: visible;
    width: 60px;
    height: 60px;
    opacity: 0;
}

#cover_add_button_top:hover {
    content: url('../img/buttons/add_icon.png');
    width: 90px;
    height: 90px;
    -webkit-filter: drop-shadow(0px 0px 50px rgba(255,255,255,1.0)) brightness(200%);
}

#cover_upvote_button_top:hover {
    content: url('../img/buttons/like_icon.png');
    width: 75px;
    height: 75px;
    -webkit-filter: drop-shadow(0px 0px 50px rgba(255,255,255,1.0)) brightness(200%);
}

#cover_downvote_button_top:hover {
    content: url('../img/buttons/dislike_icon.png');
    width: 75px;
    height: 75px;
    -webkit-filter: drop-shadow(0px 0px 50px rgba(255,255,255,1.0)) brightness(200%);
}

.cover_add_button_top {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 30%;
    right: 0;
    display: block;
    margin: auto;
}

.cover_upvote_button_top {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 25px;
    margin-top: 10px;
}

.cover_downvote_button_top {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 25px;
    margin-top: 10px;
}


/* bottom covers */

#movie_cover_div:hover {
    height: 100%;
}

.movie_cover_div {
    position: relative;
    background-position: center;
    background-size: cover;
}

#cover_check_button {
    visibility: hidden;
    filter: brightness(150%);
    width: 55px;
    height: 55px;
}

#cover_add_button {
    visibility: visible;
    width: 55px;
    height: 55px;
    opacity: 0;
}

#cover_cancel_button {
    visibility: hidden;
    filter: brightness(150%);
    width: 55px;
    height: 55px;
}

#cover_upvote_button {
    visibility: visible;
    width: 30px;
    height: 30px;
    opacity: 0;
}

#cover_downvote_button {
    visibility: visible;
    width: 30px;
    height: 30px;
    opacity: 0;
}

#cover_add_button:hover {
    content: url('../img/buttons/add_icon.png');
    width: 55px;
    height: 55px;
    -webkit-filter: drop-shadow(0px 0px 50px rgba(255,255,255,1.0)) brightness(200%);
}

#cover_upvote_button:hover {
    content: url('../img/buttons/like_icon.png');
    width: 40px;
    height: 40px;
    -webkit-filter: brightness(200%);
}

#cover_downvote_button:hover {
    content: url('../img/buttons/dislike_icon.png');
    width: 40px;
    height: 40px;
    -webkit-filter: brightness(200%);
}

.cover_add_button {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 50%;
    right: 0;
    display: block;
    margin: auto;
}

.cover_upvote_button {
    position: absolute;
    top: 2%;
    right: 0;
    margin-right: 5px;
    margin-top: 5px;
}

.cover_downvote_button {
    position: absolute;
    top: 2%;
    left: 0;
    margin-left: 5px;
    margin-top: 5px;
}

.crop {
    width: 100%;
    height: 280px;
    overflow: hidden;
}

.crop img {
    margin-top: 10px;
}

.add_button {
    position: relative;
    width: 85%;
    overflow: hidden;
    clear: left;
    background-color: grey;
    text-align: center;
    font-size: 38px;
    color: white;
    visibility: hidden;
    opacity: 0.8;
}

.dislike_icon {
    position: absolute;
    width: 250px;
    background-color: grey;
    display: inline-block;
    text-align: center;
    font-size: 38px;
    color: white;
    visibility: hidden;
    opacity: 0.8;
}

.like_icon {
    position: absolute;
    width: 250px;
    background-color: grey;
    display: inline-block;
    text-align: center;
    font-size: 38px;
    color: white;
    visibility: hidden;
    opacity: 0.8;
}

#like_icon:hover {
    content: url('../img/buttons/like_icon.png');
    width: 30px;
    height: 30px;
}

.dislike_icon:hover {
    content: url('../img/buttons/dislike_icon.png');
    width: 30px;
    height: 30px;
}


/* row styling */

* {
    box-sizing: border-box;
}

.row {
    overflow: scroll;
    width: auto;
    height: inherit;
}

.row__inner {
    -webkit-transition: 450ms transform;
    transition: 450ms transform;
    font-size: 0;
    white-space: nowrap;
    margin: 35px 0;
    padding-bottom: 10px;
}
.tile {
    position: relative;
    display: inline-block;
    width: 200px;
    height: auto;
    margin-right: 10px;
    font-size: 20px;
    -webkit-transition: 450ms all;
    transition: 450ms all;
    -webkit-transform-origin: center;
    transform-origin: center;
}

.tile__img {
    width: 250px;
    height: 140px;
    -o-object-fit: cover;
    object-fit: cover;
}

.tile__details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    font-size: 10px;
    opacity: 0;
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
    background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
    -webkit-transition: 450ms opacity;
    transition: 450ms opacity;
}

.tile:hover .tile__details {
    opacity: 1;
}

.tile__title {
    position: absolute;
    bottom: 0;
    padding: 10px;
}

.row__inner:hover {
    -webkit-transform: translate3d(50px, 0, 0);
    transform: translate3d(50px, 0, 0);
}

.row__inner:hover .tile {
    opacity: 0.3;
}

.row__inner:hover .tile:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 1;
}

.tile:hover ~ .tile {
    -webkit-transform: translate3d(50px, 0px, 0);
    transform: translate3d(50px, 0px, 0);
}

#list_name {
    color: rgba(255, 255, 255, 1.0);
}