/* Modal overlay styling */
#overlay {
    display: none;
    z-index: 5;
    margin: auto;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#overlay #screen {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
}

#overlay .dialog {
    z-index: 100;
    position: absolute;
    margin: auto;
    display: inline-block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 430px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}

#overlay .dialog .body-dialog {
    float: left;
    height: 100px;
    width: 350px;
}

#overlay .dialog .body-dialog {
    display: block;
    text-align: left;
    padding: 5px;
    font: 20px roboto;
    margin-left: 50px;
    vertical-align: middle;
}

#data-cover-image {
    height: inherit;
    display: inline-block;
    -webkit-filter: drop-shadow(0px 0px 10px rgba(255,255,255,.8)) brightness(110%);
}

.body-cover {
    position: relative;
    padding: 10px;
    width: 250px;
    height: 100%;
    float: left;
    margin-left: 200px;
}

#title {
    color: #EEE;
    font-size: 30px;
}

#rating {
    color: #f5de50;
    font-size: 25px;
    font-weight: bolder;
}

.data_text {
    font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
    color: #EEE;
    display: inline-block;
}

.body-dialog {
    min-height: 100%;
    overflow: scroll;
}

#amazon_button {
    vertical-align: bottom;
    margin-left: 50px;
    opacity: 0.6;
    width: 50px;
    height: 50px;
}

#amazon_button:hover {
    cursor: pointer;
    opacity: 1.0;
    -webkit-filter: drop-shadow(0px 0px 10px rgba(255,255,255,.8)) brightness(110%);
}