html {
    height: 100%;
    overflow: hidden;
}

h1, h2 {
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}
#background_img_content {
    min-width: 100%;
    min-height: 100%;
    -webkit-filter: blur(15px);
    -webkit-transform: translate3d(0, 0, 0);
}

#buttons {
    width:100%;
    text-align:center;
    margin-top: 10px;
}

#background-img {
    position: absolute;
    top: -50%;
    bottom: -50%;
    left: -50px;
    right: -50px;
    margin: auto;
    overflow: hidden;
    /*
    -webkit-filter: blur(15px);
    */
}

#poster_container {
    height: 480px;
}

#poster-img {
    position: absolute;
    top: 10%;
    left: calc(50% - 150px);
}

#poster {
    width: 300px;
    height: auto;
}

#next-button {
    width: 60px;
    height: 60px;
    display: inline-block;
    margin: 0 auto;
}

#like-button {
    width: 60px;
    height: 60px;
    float:left;
}

#dislike-button {
    width: 60px;
    height: 60px;
    float:right;
}

#next-button:hover {
    content: url('../img/buttons/next_btn_hover.png');
    -webkit-filter: drop-shadow(0px 0px 50px rgba(255,255,255,1.0)) brightness(200%);
}

#like-button:hover {
    content: url('../img/buttons/like_icon.png');
    -webkit-filter: drop-shadow(0px 0px 50px rgba(255,255,255,1.0)) brightness(200%);
}

#dislike-button:hover {
    content: url('../img/buttons/dislike_icon.png');
    -webkit-filter: drop-shadow(0px 0px 50px rgba(255,255,255,1.0)) brightness(200%);
}

#info_container {
    position:absolute;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-image:url('../img/backgrounds/newyork.jpg');
}

#filter_dark {
    position:absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0 ,0 , 0.5);
}

.user_info {
    color: white;
}

#intro_info {
    text-align: center;
    position: relative;
    margin-top: 20%;
}

#top {

}

#bottom {
    padding-top: 50px;
    text-decoration: underline;
}

#ok_btn {
    margin-top: 10px;
    text-decoration: none;
    outline: 0;
    background-color: rgba(255, 255, 255, 0.5);
    border: 0;
    padding: 10px 15px;
    color: rgba(52, 51, 55, 1.0);
    width: 250px;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -webkit-appearance: button;
    -moz-appearance: button;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#ok_btn:hover {
    background-color: rgba(0, 0, 0, 0.61);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .75);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .75);
    box-shadow: 0 0 4px rgba(255, 255, 255, .75);
    color: white;
}