body {
    background-color: rgb(55, 55, 55);
}

.white_bg {
    width: 100%;
    height: 100%;
    background-color: rgb(239, 239, 246);
}

a:hover{
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, label, .btn, a{
    font-family:"Helvetica";
}

#welcome_l1, #welcome_l2, #welcome_l3 {
    color: rgba(255, 255, 255, 0.9);
    cursor: default;
}

#welcome_l2, #welcome_l3 {
    font-size: 20px;
}

#info_bloc {
    background: rgba(0, 0, 0, 0.8);
    height: 200px;
    display: flex;
    align-items: center;
}


/* image backgrounds */
.bg-newyork{
    background-image:url('../img/backgrounds/newyork.jpg');
}

.dark_filter {
    z-index: 100;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}


/* navigation-bar */
#home-logo-img {
    width: 30px;
    height: 30px;
}

#home-logo-img:hover {
    content: url('../img/buttons/home_icon_hover.png');
    width: 30px;
    height: 30px;
    -webkit-filter: drop-shadow(0px 5px 5px rgba(255, 255, 255, 1.0)) brightness(200%);
}

.navbar{
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}

.navbar li{
    display:inline;
}

.navbar a{
    display:inline-block;
    padding:10px;
    color: rgba(255, 255, 255, 0.7);
}

.navbar a:hover {
    font-weight: bold;
}

#profile_headline {
    cursor: default;
    font-weight: bolder;
    color: rgba(255, 255, 255, 1.0);
}

.navbar_profile {
    z-index: 100;
    background: rgba(0, 0, 0, 0.8);
    border-color: #080808;
    width: 100%;
    top: 0;
}

.bloc_2_filter {
    height: 100%;
    overflow-y: hidden;
    background: rgba(0, 0, 0, 0.6);
}

#logout-nav-button:hover, #home-nav-button:hover{
    text-decoration: none;
    cursor:pointer;
    color: rgba(255, 255, 255, 1.0);
}

#movie_list_nav_bar_add_btn_img {
    width: 30px;
    height: 30px;
}

#logout-nav-button:hover{
    -webkit-filter: drop-shadow(0px 5px 5px rgba(255, 255, 255, 1.0)) brightness(200%);
}

.floatleft {
    font-size: 20px;
    margin-left: 20px;
    float:left;
}

.floatright {
    margin-right: 20px;
    float:right;
}


/* hide all scrollbars */
::-webkit-scrollbar {
    display: none;
}

#waste-bin-button {
    visibility: hidden;
}

#waste-bin-button-img {
    width: 30px;
    height: 30px;
    -webkit-animation: pulsate 1.3s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: .5
}

#waste-bin-button-img:hover {
    width: 30px;
    height: 30px;
    -webkit-animation: none;
    -webkit-filter: drop-shadow(0px 5px 5px rgba(255, 255, 255, 1.0)) brightness(200%);
    opacity: 1;
}

@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

.title-items {
    display: inline-block
}

#mark_all_button_img {
    width: 40px;
    height: 40px;
    margin-left: 30px;
}

#mark_all_button_img:hover {
    width: 40px;
    height: 40px;
    -webkit-filter: drop-shadow(0px 5px 5px rgba(255, 255, 255, 1.0)) brightness(200%);
}

.img-responsive:hover {
    cursor: pointer;
}