<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <link rel="stylesheet" type="text/css" href="libs/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/profile_styles.css">
    <link rel="stylesheet" type="text/css" href="css/movieItem_profile_template.css">
    <link rel="stylesheet" type="text/css" href="css/movieData_template.css">
    <link rel="stylesheet" type="text/css" href="libs/animate.css">
    <script src="libs/jquery-2.1.0.min.js"></script>
    <script src="libs/bootstrap.js"></script>

    <title>Profile</title>
</head>
<body>
<div class="white_bg">

<!-- main_container -->
<div class="page-container dark_filter">
    <div class="bg-newyork">

        <!-- navigation bar -->
        <nav class="navbar_profile">
            <ul class="navbar">
                <div class="floatleft">
                    <li><a href="index.html" id="logout-nav-button">LOGOUT</a></li>
                </div>
                <li><a id="profile_headline">YOUR PROFILE</a></li>
                <li><a id="waste-bin-button"><img id="waste-bin-button-img" src="img/buttons/waste-bin.png"/></a></li>
                <div class="floatright">
                    <li><a href="main.html" id="home-nav-button"><img id="home-logo-img" src="img/buttons/home_icon.png"/></a>
                    </li>
                </div>
            </ul>
        </nav>
        <!-- navigation bar END -->

        <!-- info_bloc -->
        <div id="info_bloc">
            <div class="col-md-offset-2" id="greetings_container">
                <div class="animated fadeInLeft animDelay-1"><h2 id="welcome_l1"></h2><br></div>
                <div class="animated fadeInLeft animDelay-2"><a id="welcome_l2">Welcome to your personal space!</a><br>
                </div>
                <div class="animated fadeInLeft animDelay-2"><a id="welcome_l3">Here you can manage your movie
                    lists.</a></div>
            </div>
        </div>
        <!-- info_bloc END -->
    </div>

    <!-- bloc_2 -->
    <div class="bloc_2_filter">
        <div class="container">
            <ul id="row_location">

            </ul>
        </div>
    </div>
    <!-- bloc_2 END -->
</div>
</div>
<!-- main_container END -->
</body>
<!--<div id="info_container">
 <a id="info">You don't have any lists yet!</a>
</div>-->


<script type="text/template" id="movie-data-entry">
    <div id="overlay">
        <div id="screen"></div>
        <div id="dialog-data" class="dialog">
            <img id="amazon_button" src="img/buttons/amazon_buy_link.png"/>

            <div class="body-cover">
                <img id="data-cover-image" src="<%= poster_path %>"/>
            </div>


            <div class="body-dialog">

                <p></p>
                <p class="data_text" id="title"><b>Title:</b> <%= title %></p>
                <p class="data_text"><b>Year:</b> <%= Year %></p>
                <p class="data_text"><b>Actors:</b> <%= Actors %></p>
                <p class="data_text"><b>Director:</b> <%= Director %></p>
                <p class="data_text"><b>Content:</b> <%= Plot %></p>
                <p class="data_text" id="rating">IMDB-Rating: <%= imdbRating %></p>
            </div>


        </div>
    </div>
</script>


<script type="text/template" id="movie_list_row_entry">

    <div class="contain">
        <div class="movie-list-title" id="<%= rowId %>">
            <h3 class="title-items" id="list_name"><%= listName %></h3>

            <a class="title-items" id="mark_all_button"><img id="mark_all_button_img"
                                                             src="img/buttons/mark_all_neutral.png"/></a>

        </div>
        <div class="row">
            <div class="row__inner" id="row_item_location">


            </div>
        </div>

    </div>

</script>

<script type="text/template" id="movie-entry">


    <div class="movie_cover_div crop" id="bottom_container">


        <img class="img-responsive" id="cover_image" src="<%= poster_path %>"/>
        <img class="cover_add_button" id="cover_add_button" data-toggle="modal" src="img/buttons/add_icon_neutral.png"/>
        <img class="cover_add_button" id="cover_check_button" src="img/buttons/checked.png">
        <img class="cover_add_button" id="cover_cancel_button" src="img/buttons/cancel.png">
        <img class="cover_upvote_button" id="cover_upvote_button" src="img/buttons/like_icon_neutral.png"/>
        <img class="cover_downvote_button" id="cover_downvote_button" src="img/buttons/dislike_icon_neutral.png"/>


    </div>
</script>


<script>

    // Stick the #nav to the top of the window
    $(function () {
        var nav = $('.navbar_profile');
        var navHomeY = nav.offset().top;
        var isFixed = false;
        var $w = $(window);
        $w.scroll(function () {
            var scrollTop = $w.scrollTop();
            var shouldBeFixed = scrollTop > navHomeY;
            if (shouldBeFixed && !isFixed) {
                nav.css({
                    position: 'fixed',
                    top: 0,
                    left: nav.offset().left,
                    width: nav.width()
                });
                isFixed = true;
            }
            else if (!shouldBeFixed && isFixed) {
                nav.css({
                    position: 'static'
                });
                isFixed = false;
            }
        });
    });

</script>


<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
<script src="libs/underscore-min.js"></script>
<script src="js/index.js"></script>
<script src="js/Firebase.js"></script>
<script src="js/FirebaseLogin.js"></script>
<script src="js/FirebaseRegistration.js"></script>
<script src="js/SocialMediaLogins.js"></script>
<script src="js/TMDB.js"></script>
<script src="js/MovieDB.js"></script>
<script src="js/ViewControllerMain.js"></script>
<script src="js/Algorithm.js"></script>
<script src="js/MovieItem.js"></script>
<script src="js/ViewControllerProfile.js"></script>


<script>
    MovieDatabaseApp.init();
    MovieDatabaseApp.initProfile();
</script>


</html>